/* -------------- Body -------------- */
.ecran_clair
{
	margin: 0 0 0 0;
}

.ecran_sombre
{
	background-color: #36353d;
	color: white;
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
}

/* -------------- Images -------------- */

.logo-big
{
	height:400px;
}

.ccbyncsa
{
	height:42px;
}

/* -------------- Structure de la page -------------- */
.contenu
{
	margin: 1% 5% 1% 5%;
	height: 100%;
}

div
{
	vertical-align: middle;
}

.ligneConnexion
{
	display: block;
}

.ligneLogo
{
	text-align: left;	
	display: inline-block;
}

.titreConnexion
{
	display: inline-block;
	font-size: 100px;
	text-align: center;
	height: 130px;
}

.formualaireConnexion
{
	display: block;
	text-align: center;
}

.libelleConnexion
{
	display: inline-block;
	text-align: right;
	font-size: 38px;
	width: 30%;
}

.ligneChampConnexion
{
	display: inline-block;
	text-align: left;
	height: 100%;
	width: 40%;
}

.champConnexion
{
	height: 47px;
	width: 100%;
	font-size: 30px;
}

.ligneBoutonConnexion
{
	display: block;
	text-align: center;
	height: 36px;
	margin: 15px 0px 0px 0px;
}

.boutonConnexion
{
	height:47px;
	width: 100%;
	font-size: 30px;
}

.ligneLicence
{
	display: block;
	text-align: right;
	margin: 40px 0px 0px 0px;
}

.header
{
	background-color: black;
	color: white;
	width: 100%;
	height: 64px;
}


.logo
{
	display: inline-block;
	width: 98%;
	text-align: center;
	font-size: 60px;
}

.utilisateur
{
	display: block;
	text-align: right;
	visibility: hidden;
}

.left1pct
{
	display: inline-block;
	width: 0%;
	height: 100%;
}

.line
{
	display: block;
}


.redline
{
	display: block;
	background-color: red;
	height: 4px;
}

.menu
{
	background-color: #151515;
	color: #D8D8D8;
	width: 100%;
	height: 70px;
	text-align: center;
}

.textemenu
{
	display: inline-block;
	height: 100%;
	vertical-align: -30%;
	text-align: center;
	font-size: 45px;
}

.ongletmenu
{
	display: inline-block;
	height: 96%;
	width: 250px;
	text-align: center;
}

.ongletmenu:hover
{
	display: inline-block;
	height: 96%;
	width: 250px;
	text-align: center;
	background-color: #2E2E2E;
}

.ongletmenuselected
{
	display: inline-block;
	height: 96%;
	width: 250px;
	text-align: center;
	background-color: #1C1C1C;
}

.submenu
{
	position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   background-color: #424242;
   text-align: center;
   color: #D8D8D8;
}

.textesubmenu
{
	display: inline-block;
	height: 100%;
	vertical-align: -45%;
	text-align: center;
	font-size: 30px;
}

.ongletsubmenu
{
	display: inline-block;
	height: 96%;
	width: 130px;
	text-align: center;
}

.ongletsubmenu:hover
{
	display: inline-block;
	height: 96%;
	width: 130px;
	text-align: center;
	background-color: #6E6E6E;
}

.ongletsubmenuselected
{
	display: inline-block;
	height: 96%;
	width: 130px;
	text-align: center;
	background-color: #585858;
}

.bouton_appli
{
	display: block;
	width: 100%;
	height: 100px;
	text-align: center;
	vertical-align: -50%;
}

.titre_bouton_appli
{
	display: block;
	background-color: #E6E6E6;
	border: 1px solid #BDBDBD;
	width: 100%;
	height: 90px;
	vertical-align: -10%;
	text-align: left;
	font-size: 80px;
	margin: 10px 0px 0px 0px;
}









/* -------------- Police d'ecriture -------------- */

.policetitre
{
	font-size: 70px;
}

.policetexte
{
	font-size: 16px;
}

/* -------------- Elements Form -------------- */




/* -------------- Elements Page -------------- */





.display_center
{
	text-align: center;	
}




.full-screen /* OK */
{
	width: 100%;
}

.inline /* OK */
{
	display: inline-block;
}

.inline-H146px /* OK */
{
	display: inline-block;
	height: 146px;
}

.inline-W17pct-left /* OK */
{
	display: inline-block;
	width: 17%;
	text-align: left;
}

.inline-W45pct-right /* OK */
{
	display: inline-block;
	text-align: right;
	width: 45%;
}

.inline-45pct-left /* OK */
{
	display: inline-block;
	text-align: left;
	width: 45%;
}

.inline-W80pct-right /* OK */
{
	display: inline-block;
	text-align: right;
	width: 80%;
}

.inline-W90px /* OK */
{
	display: inline-block;
	width: 90px;
}

.inline-W200px /* OK */
{
	display: inline-block;
	width: 200px;	
}

.inline-W250px /* OK */
{
	display: inline-block;
	width: 250px;	
}

.inline-W300px /* OK */
{
	display: inline-block;
	width: 300px;	
}

.inline-W350px /* OK */
{
	display: inline-block;
	width: 350px;	
}

.inline-W400px /* OK */
{
	display: inline-block;
	width: 400px;	
}

.line-H10px /* OK */
{
	display: block;
	height: 10px;
}

.inline-20-Left
{
	display: inline-block;
	text-align: left;
	width: 20%;
}

.t1
{
	font-size: 30px;
	display: inline-block;	
}



.display_left
{
	text-align: left;
}

.display_right
{
	text-align: right;
}

.colonne
{
	height: 100%;
	display: inline-block;
}

.graphique
{
	display: inline-block;
	vertical-align: -40%;
}

.performances
{
	display: inline-block;
	width: 500px;	
}

.joueurs
{
	display: inline-block;
	width: 505px;	
}

/* -------------- Font -------------- */
@font-face {
    font-family: Mafont;
    src: url('fonts/coolvetica-rg.ttf');
}

.font_15px
{
	font-size: 15px;
}

.taille2
{
	font-size: 45px;
}

.taille3
{
	font-size: 35px;
}

.feature
{
	color: #64992C;
	background-color: #ebf4dd;
	width: 20px;
	text-align: center;
}

.bug
{
	color: #cc0000;
	background-color: #ffe3e3;
	width: 20px;
	text-align: center;
}

.fini
{
	color: #6E6E6E;
}

/* -------------- Link -------------- */
a
{
	color: #D8D8D8;
	text-decoration: none;
}

.black
{
	color: black;
	text-decoration: none;
}

/* -------------- Spacer -------------- */


.right1pct
{
	display: inline-block;
	width: 1%;
}

.lefttitre
{
	display: inline-block;
	width: 5%;
	height: 100%;
}

.liner
{
	display: block;
	height: 10px;
}

/* -------------- Spec -------------- */
.Heure_Fimafeng
{
	width: 320px;
	line-height: 240px;
	vertical-align: middle;
	text-align: center;
	font-size: 45px;
}

.greyline
{
	display: block;
	background-color: grey;
	height: 1px;
}

.OK
{
	display: inline-block;
	background-color: green;
	height: 10px;
	width: 15px;
}

.KO
{
	display: inline-block;
	background-color: red;
	height: 10px;
	width: 15px;
}



.titre
{
	display: block;
	background-color: #E6E6E6;
	border: 1px solid #BDBDBD;
	width: 100%;
	height: 40px;
	vertical-align: -10%;
	text-align: left;		
}

.cadre_center
{
	display: inline-block;
	border: 1px solid #BDBDBD;
	width: 100%;
	text-align: center; 	
}

.cadre_left
{
	display: inline-block;
	border: 1px solid #BDBDBD;
	width: 100%; 	
	text-align: left;
}