.body
{
	background-color: black;
	color: white;
}

a
{
	color: white;
}

.page
{
	width: 100%;
}

.cadre
{
	border-width: 1px; 
	border-style: solid; 
	border-color: white;
}

.titremenu
{
	font-size: 20px;
}

.taillemenu
{
	width: 15%;
}

.tableau
{
	border-width: 1px; 
	border-style: solid; 
	border-color: white;
}

.taille1
{
	font-size: 70px;
}

.taille2
{
	font-size: 45px;
}

.taille3
{
	font-size: 35px;
}

.taille4
{
	font-size: 25px;
}

.taille5
{
	font-size: 15px;
}
